

/*colours
#CFF09E
#A8DBA8
#79BD9A
#3B8686
#0B486B
*/


html, body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}

#title {
  background-color: rgb(255, 255, 255);
  position: relative;
}

#title h2 {
  font-size: 2em;
  letter-spacing: 0.5em;
  color: rgb(0,0,0);
  margin-top: 20%;
  text-align: center;
  animation: 2s cubic-bezier(.26,1.08,.19,1) expandtitle;
}

#goldglow {
  text-shadow: 0px 0px 15px gold;
  animation: 0.5s ease shadoweffectgold;
}

@keyframes shadoweffectgold {
  0% {
    text-shadow: 0px 0px 200px gold;
  }
  100% {

  }
}


@keyframes expandtitle {
  0% {
    letter-spacing: 0em;
    transform: translate(0px, 80px);
  }
  100% {
    letter-spacing: 0.5em;
  }
}

#title h3 {
  font-size: 1em;
  color: rgb(0,0,0);
  padding-top: 15px;
  text-align: center;
  letter-spacing: 0.1em;
  animation: 2s cubic-bezier(.26,1.08,.19,1) droptext;
}

@keyframes droptext {
  0% {
    transform: translate(0px, 100px);
  }
  100% {
  }
}

a,a:link,a:visited {
  text-decoration: none;
}

#selectorwrap {
  padding-top: 30px;
  position: relative;
  text-align: center;
  display: block;
  animation: 2.5s cubic-bezier(.26,1.08,.19,1) droptext;
}

#selectorwrap a {
  text-decoration: none;
  color: rgb(0,0,0);
  display: inline-block;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

#goldhover:hover {
  text-shadow: 2px 2px gold;
  color: white;
}

#redhover:hover {
  text-shadow: 2px 2px red;
  color: white;
}

#bluehover:hover {
  text-shadow: 2px 2px blue;
  color: white;
}

#greenhover:hover {
  text-shadow: 2px 2px green;
  color: white;
}

#backhome {
  padding-top: 10px;
  position: relative;
  text-align: center;
  display: block;
  animation: 2.5s cubic-bezier(.26,1.08,.19,1) dropbackhome;
}

#backhome a {
  text-decoration: none;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding: 10px;
  background-color: black;
  transition: ease 1s;
}

#backhome a:hover {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 12px;
  transition: ease 0.5s;
  background-color: black;
  -webkit-box-shadow: 10px 10px 136px -3px rgba(0,0,0,0.45);
-moz-box-shadow: 10px 10px 136px -3px rgba(0,0,0,0.45);
box-shadow: 10px 10px 136px -3px rgba(0,0,0,0.45);
}

#soundcloudplayer {
  align-items: center;
  display: flow-root;
  padding-left: 50%;
  padding-right: 50%;
}

@keyframes dropbackhome {
  0% {
    transform: translate(0px, -100px);
  }
  100% {
  }
}
