

/*colours
#CFF09E
#A8DBA8
#79BD9A
#3B8686
#0B486B
*/



html, body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#primary {
  background-color: rgb(255, 255, 255);
  position: relative;
}

#primary h2 {
  font-size: 2em;
  letter-spacing: 0.75em;
  color: rgb(0,0,0);
  margin-top: 24%;
  text-align: center;
}

#primary h3 {
  font-size: 1.25em;
  color: rgb(0,0,0);
  margin-top: -10px;
  text-align: center;
}

a,a:link,a:visited {
  text-decoration: none;
}
