

/*colours
#CFF09E
#A8DBA8
#79BD9A
#3B8686
#0B486B
*/



html, body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#title {
  background-color: rgb(255, 255, 255);
  position: relative;
}

#title h2 {
  font-size: 2em;
  letter-spacing: 0.75em;
  color: rgb(0,0,0);
  margin-top: 24%;
  text-align: center;
}

#title h3 {
  font-size: 1.25em;
  color: rgb(0,0,0);
  margin-top: -10px;
  text-align: center;
}

a,a:link,a:visited {
  text-decoration: none;
}

#selectorwrap {
  position: relative;
  text-align: center;
  display: block;
}

#selectorwrap a {
  text-decoration: none;
  color: white;
  display: inline-block;
  text-align: center;
  width: 120px;
  height: 100px;
  margin: 0px;
  background-color: black;
}
